[submodule "external/schwung-trance-gate"]
	path = external/schwung-trance-gate
	url = https://github.com/graebe/schwung-trance-gate.git
[submodule "external/iPlug2"]
	path = external/iPlug2
	url = https://github.com/iPlug2/iPlug2.git
