<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NIListenIn</string>
	<key>CFBundleGetInfoString</key>
	<string>NI Listen-In v2026.10.06.4 Copyright 2026 Torben Gräber</string>
	<key>CFBundleIdentifier</key>
	<string>com.graebe.clap.NIListenIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NIListenIn</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2026.10.6</string>
	<key>CFBundleSignature</key>
	<string>Ipef</string>
	<key>CFBundleVersion</key>
	<string>2026.10.52</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
</dict>
</plist>
